/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* From shadcn UI Themes: https://ui.shadcn.com/themes */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

/* Custom layers */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-primary selection:text-primary-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight tracking-tighter text-foreground;
  }
  h1 {
    @apply text-4xl font-semibold leading-[1.1] md:text-5xl lg:text-6xl xl:text-7xl;
  }
  h2 {
    @apply text-3xl font-semibold md:text-4xl;
  }
  h3 {
    @apply text-2xl font-semibold md:text-3xl;
  }
  h4 {
    @apply text-lg font-semibold md:text-xl;
  }
  b {
    @apply font-semibold;
  }
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .navlink {
    @apply hover-opacity font-semibold;
  }
  .navlink-active {
    @apply navlink text-primary;
  }
}

@layer utilities {
  .site-container {
    @apply mx-auto w-full max-w-7xl px-2 sm:px-4;
  }
  .site-section {
    @apply mx-auto w-full max-w-prose;
  }
  .app-container {
    @apply mx-auto w-full p-2;
  }
  .app-section {
    @apply mx-auto w-full max-w-7xl;
  }
  .hover-opacity {
    @apply transition hover:opacity-75;
  }
  .section-auto {
    @apply mx-auto max-w-3xl px-2 py-10 sm:px-4;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-p {
    @apply text-base sm:text-lg;
  }
  .text-icon {
    @apply inline-flex flex-wrap items-center gap-2;
  }
  .prose-config {
    @apply prose prose-slate dark:prose-invert;
    @apply prose-a:text-primary;
    @apply prose-code:before:content-none prose-code:after:content-none;
  }
}
