/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* From shadcn UI Themes: https://ui.shadcn.com/themes */
@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 229 84% 5% /* slate-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 229 84% 5% /* slate-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 229 84% 5% /* slate-950 */;
    --primary: 244 76% 59% /* indigo-600 */;
    --primary-foreground: 226 100% 97% /* indigo-50 */;
    --secondary: 227 100% 94% /* indigo-100 */;
    --secondary-foreground: 243 48% 35% /* indigo-900 */;
    --muted: 210 41% 97% /* slate-100 */;
    --muted-foreground: 216 17% 47% /* slate-500 */;
    --accent: 227 100% 94% /* indigo-100 */;
    --accent-foreground: 243 48% 35% /* indigo-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 211 41% 99% /* slate-50 */;
    --border: 215 32% 92% /* slate-200 */;
    --input: 215 32% 92% /* slate-200 */;
    --ring: 244 76% 59% /* indigo-600 */;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 84% 5% /* slate-950 */;
    --foreground: 211 41% 99% /* slate-50 */;
    --card: 229 84% 5% /* slate-950 */;
    --card-foreground: 211 41% 99% /* slate-50 */;
    --popover: 229 84% 5% /* slate-950 */;
    --popover-foreground: 211 41% 99% /* slate-50 */;
    --primary: 244 76% 59% /* indigo-600 */;
    --primary-foreground: 226 100% 97% /* indigo-50 */;
    --secondary: 244 55% 42% /* indigo-800 */;
    --secondary-foreground: 226 100% 97% /* indigo-50 */;
    --muted: 218 33% 18% /* slate-800 */;
    --muted-foreground: 216 21% 66% /* slate-400 */;
    --accent: 244 55% 42% /* indigo-800 */;
    --accent-foreground: 226 100% 97% /* indigo-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 211 41% 99% /* slate-50 */;
    --border: 218 33% 18% /* slate-800 */;
    --input: 218 33% 18% /* slate-800 */;
    --ring: 244 76% 59% /* indigo-600 */;
  }
}

/* Custom layers for default stylings */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-primary selection:text-primary-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight tracking-tighter text-foreground;
    font-family: "Archivo Variable", system-ui, sans-serif;
  }
  h1 {
    @apply text-5xl font-semibold sm:text-6xl md:text-7xl lg:text-8xl;
  }
  h2 {
    @apply text-3xl font-semibold sm:text-4xl;
  }
  h3 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  h4 {
    @apply text-lg font-semibold sm:text-xl;
  }
}

@layer utilities {
  .site-container {
    @apply mx-auto mt-4 w-full max-w-7xl px-4;
  }
  .site-section {
    @apply mx-auto w-full max-w-prose;
  }
  .app-container {
    @apply mx-auto w-full p-2;
  }
  .app-section {
    @apply mx-auto w-full max-w-7xl;
  }
  .prose-config {
    @apply prose prose-slate dark:prose-invert;
    @apply prose-h1:font-semibold;
    @apply prose-h2:font-semibold;
    @apply prose-h3:font-semibold;
    @apply prose-h4:font-semibold;
    @apply prose-a:text-primary;
    @apply prose-code:before:content-none prose-code:after:content-none;
  }
}
