{
	"extends": ["stylelint-config-standard", "stylelint-config-tailwindcss"],
	"rules": {
		"rule-empty-line-before": null,
		"selector-class-pattern": null,
		"custom-property-empty-line-before": null
	}
}
